@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(normalize.css);

.highlighter::before {
  content: '';
  width: 7px;
  height: 7px;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  @apply bg-[#FFCC29] absolute rounded-lg;
}